/* Modelled after https://tailwindcss.com/docs/grid-row */

.row-auto {
  grid-row: auto !important;
}
.row-span-1 {
  grid-row: span 1 / span 1 !important;
}
.row-span-2 {
  grid-row: span 2 / span 2 !important;
}
.row-span-3 {
  grid-row: span 3 / span 3 !important;
}
.row-span-4 {
  grid-row: span 4 / span 4 !important;
}
.row-span-5 {
  grid-row: span 5 / span 5 !important;
}
.row-span-6 {
  grid-row: span 6 / span 6 !important;
}
.row-span-full {
  grid-row: 1 / -1 !important;
}
.row-start-1 {
  grid-row-start: 1 !important;
}
.row-start-2 {
  grid-row-start: 2 !important;
}
.row-start-3 {
  grid-row-start: 3 !important;
}
.row-start-4 {
  grid-row-start: 4 !important;
}
.row-start-5 {
  grid-row-start: 5 !important;
}
.row-start-6 {
  grid-row-start: 6 !important;
}
.row-start-7 {
  grid-row-start: 7 !important;
}
.row-start-auto {
  grid-row-start: auto !important;
}
.row-end-1 {
  grid-row-end: 1 !important;
}
.row-end-2 {
  grid-row-end: 2 !important;
}
.row-end-3 {
  grid-row-end: 3 !important;
}
.row-end-4 {
  grid-row-end: 4 !important;
}
.row-end-5 {
  grid-row-end: 5 !important;
}
.row-end-6 {
  grid-row-end: 6 !important;
}
.row-end-7 {
  grid-row-end: 7 !important;
}
.row-end-auto {
  grid-row-end: auto !important;
}
